<% if @user.errors.any? %>
  <div class="bg-danger col-xs-12">
    <ul class="list-unstyled">
      <% @user.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>


<div class="row">
  <%= simple_form_for @user do |f| %>
    <div class="col-sm-4">
      <%= f.input :name %>
      <%= f.input :photo %>

    </div>
    <div class="col-sm-8">
      <%= f.input :bio, as: :text, input_html: {rows: 6}%>
    </div>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
