<div class="col-lg-4 col-sm-6">

  <div class="media">
    <div class="media-left media-middle">
      <%=link_to image_tag(user.photo, class: "media-object img-circle"), user %>
    </div>

    <div class="media-body">
      <h2 class="media-heading"><%=link_to user.name, user %></h2>
      <p><%= user.bio %></p>
      <%= link_to "Edit", edit_user_path(user), class: "btn btn-default btn-sm" %>
      <%= link_to "Posts", user_posts_path(user), class: "btn btn-default btn-sm" %>
    </div>
  </div>

</div>
