<div class="row">
  <div class="col-sm-8">
    <h2><%= @post.title %></h2>

    <div class="media author">
      <div class="media-left">
        <%= link_to '#' do %>
          <%= image_tag @post.user.photo, class: "media-object img-circle" %>
        <% end %>
      </div>
      <div class="media-body">
        <strong><%= link_to @post.user.name, @post.user %> on <%= link_to "#{@post.created_at.strftime("%B %d, %Y")}", '#' %></strong>
      </div>
    </div>

    <div class="postbody">

    <% unless @post.summary.empty? %>
      <blockquote><%= @post.summary %></blockquote>
    <% end %>

      <%=simple_format @post.body %>
    </div>

    <div class="social">
      <ul class="list-inline ">
        <li>
          <%= link_to edit_post_path(@post), class: "btn btn-default" do%>
            Edit Post
          <% end %>
        </li>
        <li>
          <%= link_to "read comments", "#", class: "btn btn-default" %>
        </li>
        <li>
          <%= link_to "#", class: "btn btn-default" do%>
            Read Later
          <% end %>
        </li>
        <li>
          <%= link_to "share this post", "#", class: "btn btn-primary" %>
        </li>
      </ul>
    </div>

  </div>

  <div class="col-sm-4">
    <div class="row aside">
      <div class="col-sm-12 col-xs-4">

          <%= link_to @post.user do %>
            <%= image_tag @post.user.photo, class: "media-object img-circle center-block" %>
            <h3 class='text-center text-uppercase'><%= @post.user.name %></h3>
          <% end %>
          <ul class="list-inline text-center">
            <li><%= link_to "Twitter", '#' %></li>
            <li><%= link_to "Facebook", '#' %></li>
            <li><%= link_to "Instragram", '#' %></li>
          </ul>


      </div>
      <div class="add col-sm-12 col-xs-4">
        <%= link_to 'http://www.thebestdinosaur.com/' do%>
          <%= image_tag("add#{rand(1..6)}.jpg")%>
          <p class="text-right">About This Ad.</p>
        <% end %>

      </div>
      <div class="col-sm-12 col-xs-4">
        <h4>Author Bio:</h4>
        <p><%= @post.user.bio %> </p>
      </div>

    </div> <!-- row -->

  </div> <!-- column -->
</div>
