<!DOCTYPE html>
<html>
  <head>
    <title>Surfnpaddle</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

  <div class="jumbotron">
    <div class="container">
      <%= render partial: "navbar"%>
    </div> <!-- /. container-->
    <h1 class="text-center text-uppercase">Surfing Cattle Co.</h1>
    <p class="text-center">COW-Abunga!</p>
  </div>

  <div class="container">

    <%= yield %>

  </div>

  <div class="container-fluid">
        <%= render partial: "popular"%>
  </div>


  <footer>
    <div class="container">
      <div class="col-sm-6">
        <div class="media">

          <div class="media-left">
            <%= image_tag "tiy-logo.png", class: "media-object" %>
          </div>

          <div class="media-body">
            <p>The Iron yard.</p>
          </div>

        </div>
      </div>

      <div class="col-sm-6">
        <p class="text-right">
          <%=link_to "Nav Item 1", "#"%>
          | <%=link_to "Nav Item 1", "#"%>
          | <%=link_to "Nav Item 1", "#"%>
          | <%=link_to "Nav Item 1", "#"%>
        </p>
      </div>
    </div>
  </footer>

  </body>
</html>
